<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>CVL Editor</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body class="container mt-4">
    <div id="app">
        <div v-if="mode=='cvlListing'">
            <h2>CVL</h2>
            <table class="table table-bordered table-hover table-sm">
                <thead class="thead-light">
                    <tr>
                        <th class="col-xs-3">Id</th>
                        <th class="col-xs-2">Data Type</th>
                    </tr>
                </thead>
                <tbody v-for="cvl in allCvls">
                    <tr v-on:click="cvlValueEdit(cvl)">
                        <td>
                            {{cvl.id}}
                        </td>
                        <td>
                            {{cvl.dataType}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div v-if="mode=='cvlEditLocaleString'">
            <table class="table table-bordered table-hover table-sm">
                <thead class="thead-light">
                <tr>
                    <th class="col-xs-3">Key</th>
                    <th class="col-xs-2">Index</th>
                    <th class="col-xs-4" v-for="language in allLanguages">{{language.displayName}}</th>
                    <th class="col-xs-3"></th>
                </tr>
                </thead>
                <tbody v-for="cvlValue in currentCvl.values">
                <tr>
                    <td>
                        <div v-if="!cvlValue.new">{{cvlValue.key}}</div>
                        <div v-if="cvlValue.new">
                            <input type="text" v-model="cvlValue.key" />
                        </div>
                    </td>
                    <td>
                        <div v-if="!cvlValue.editing">{{cvlValue.index}}</div>
                        <div v-if="cvlValue.editing">
                            <input type="text" v-model="cvlValue.index" />
                        </div>
                    </td>
                    <td v-for="language in allLanguages">
                        <div v-if="!cvlValue.editing">{{cvlValue.value[language.name]}}</div>
                        <div v-if="cvlValue.editing">
                            <input type="text" v-model="{{cvlValue.value[language.name]}}" />
                        </div>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-info" v-if="!cvlValue.editing" v-on:click="cvlValue.editing = !cvlValue.editing">Edit</button>
                        <button class="btn btn-info" v-if="!cvlValue.editing" v-on:click="deleteCvlValue(cvlValue)">Delete</button>
                        <button class="btn btn-info" v-if="cvlValue.editing" v-on:click="saveCvlValue(cvlValue)">Save</button>
                        <button class="btn btn-info" v-if="cvlValue.editing" v-on:click="cancelCvlValue(cvlValue)">Cancel</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div v-if="mode=='cvlEditString'">
            <div class="container p-3 my-3 border d-flex justify-content-between">
                <h2>{{cvlValueHeader}}</h2>
                <div>
                    <button class="btn btn-info" v-on:click="mode='cvlListing'">Back</button>
                    <button class="btn btn-info" v-on:click="addCvlValue()">Add CVL Value</button>
                </div>
            </div>
            <table class="table table-bordered table-hover table-sm">
                <thead class="thead-light">
                    <tr>
                        <th class="col-xs-3">Key</th>
                        <th class="col-xs-2">Index</th>
                        <th class="col-xs-4">Value</th>
                        <th class="col-xs-3"></th>
                    </tr>
                </thead>
                <tbody v-for="cvlValue in currentCvl.values">
                    <tr>
                        <td>
                            <div v-if="!cvlValue.new">{{cvlValue.key}}</div>
                            <div v-if="cvlValue.new">
                                <input type="text" v-model="cvlValue.key" />
                            </div>
                        </td>
                        <td>
                            <div v-if="!cvlValue.editing">{{cvlValue.index}}</div>
                            <div v-if="cvlValue.editing">
                                <input type="text" v-model="cvlValue.index" />
                            </div>
                        </td>
                        <td>
                            <div v-if="!cvlValue.editing">{{cvlValue.value}}</div>
                            <div v-if="cvlValue.editing">
                                <input type="text" v-model="cvlValue.value" />
                            </div>
                        </td>
                        <td class="text-center">
                            <button class="btn btn-info" v-if="!cvlValue.editing" v-on:click="cvlValue.editing = !cvlValue.editing">Edit</button>
                            <button class="btn btn-info" v-if="!cvlValue.editing" v-on:click="deleteCvlValue(cvlValue)">Delete</button>
                            <button class="btn btn-info" v-if="cvlValue.editing" v-on:click="saveCvlValue(cvlValue)">Save</button>
                            <button class="btn btn-info" v-if="cvlValue.editing" v-on:click="cancelCvlValue(cvlValue)">Cancel</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>

    <script>
        var fallbackApiKey = "2eb0108ce0eefd1b959f3c0a96a27328";
        var apiKey = fallbackApiKey;
        var language = "en";
        var baseUrl = "https://apieuw.productmarketingcloud.com/api/v1.0.0/";

        var app = new Vue({
            el: "#app",
            data: {
                allCvls: [],
                mode: "cvlListing",
                currentCvl: null,
                allLanguages: []
            },
            mounted: function () {
                this.fetchAllCvls();
                this.fetchAllLanguages();
            },
            computed: {
                cvlValueHeader: function() {
                    return "CVL Values for " + this.currentCvl.id;
                }
            },
            methods: {
                fetchAllCvls: function () {
                    var self = this;
                    $.getJSON(buildAjaxSettings("model/cvls", false), function (cvls) {
                        cvls.forEach(function (item, index) {
                            var cvlWithValues = item;
                            cvlWithValues.values = [];
                            self.allCvls.push(cvlWithValues);
                        });
                    });
                },
                fetchAllLanguages: function () {
                    var self = this;
                    $.getJSON(buildAjaxSettings("model/languages"), function (languages) {
                        self.allLanguages = languages;
                        console.log(self.allLanguages);
                    });
                },
                cvlValueEdit: function (cvl) {
                    fetchCvlValues(cvl);
                    if (cvl.dataType === "LocaleString") {
                        this.mode = "cvlEditLocaleString";
                    }
                    if (cvl.dataType === "String") {
                        this.mode = "cvlEditString";
                    }
                    this.currentCvl = cvl;
                },
                addCvlValue: function() {
                    var cvlValue = {
                        key: "",
                        value: [],
                        index: null,
                        editing: true,
                        new: true
                    };
                    this.currentCvl.values.unshift(cvlValue);
                },
                deleteCvlValue: function(cvlValue) {
                    if (confirm("Are you sure you want to delete CVL value with key " + cvlValue.key + "?")) {
                        var self = this;
                        var ajaxSettings =
                            buildAjaxSettings("model/cvls/" + this.currentCvl.id + "/values/" + cvlValue.key, false);
                        ajaxSettings.type = "DELETE";

                        ajaxSettings.error = function (xhr) {
                            alert(xhr.responseText);
                        };
                        ajaxSettings.complete = function () {
                            removeCvlValueToCvl(self.currentCvl, cvlValue);
                        };

                        $.ajax(ajaxSettings);
                    }
                },
                saveCvlValue: function(cvlValue) {
                    if (cvlValue.key.length > 0 && cvlValue.value.length > 0) {
                        if (cvlValue.index !== null) {
                            cvlValue.index = parseInt(cvlValue.index);
                        }

                        var self = this;
                        var cvlValueToSend = { key: cvlValue.key, value: cvlValue.value, index: cvlValue.index };
                        var ajaxSettings;
                        if (cvlValue.new) {
                            ajaxSettings = buildAjaxSettings("model/cvls/" + this.currentCvl.id + "/values", false);
                            ajaxSettings.data = JSON.stringify(cvlValueToSend);

                            ajaxSettings.error = function (xhr) {
                                alert(xhr.responseText);
                            };
                            ajaxSettings.complete = function () {
                                updateCvlValueToCvl(self.currentCvl, cvlValue);
                            };

                            $.post(ajaxSettings);
                        } else { // PUT
                            ajaxSettings = buildAjaxSettings("model/cvls/" + this.currentCvl.id + "/values/" + cvlValue.key, false);
                            ajaxSettings.type = "PUT";
                            ajaxSettings.data = JSON.stringify(cvlValueToSend);

                            ajaxSettings.error = function (xhr) {
                                alert(xhr.responseText);
                            };
                            ajaxSettings.complete = function () {
                                updateCvlValueToCvl(self.currentCvl, cvlValue);
                            };

                            $.ajax(ajaxSettings);
                        }
                    }
                },
                cancelCvlValue: function(cvlValue) {
                    if (cvlValue.new) {
                        this.currentCvl.values.shift();
                    }
                    cvlValue.editing = false;
                    cvlValue.new = false;
                }
            }
        });

        function fetchCvlValues(cvl) {
            $.getJSON(buildAjaxSettings("model/cvls/" + cvl.id + "/values", false), function (cvlValues) {
                cvl.values.splice(0, cvl.values.length);
                cvlValues.forEach(function (cvlValue, index) {
                    cvlValue.editing = false;
                    cvlValue.new = false;
                    cvl.values.push(cvlValue);
                });
            });
        };

        function buildAjaxSettings(restOperation, asyncOperation = true) {
            var ajaxSettings = {
                dataType: "json",
                contentType: 'application/json',
                headers: {
                    'X-inRiver-APIKey': apiKey,
                    'Accept': 'application/json',
                    'Accept-Language': language
                },
                url: baseUrl + restOperation,
                processData: true,
                async: asyncOperation
            };
            return ajaxSettings;
        }

        function removeCvlValueToCvl(currentCvl, cvlValue) {
            var indexToRemove = -1;
            currentCvl.values.forEach(function(value, index) {
                if (value.key === cvlValue.key) {
                    indexToRemove = index;
                }
            });
            if (indexToRemove !== -1) {
                currentCvl.values.splice(indexToRemove, 1);
            }
        }

        function updateCvlValueToCvl(currentCvl, cvlValue) {
            var foundValue = currentCvl.values.find(function (cvl) {
                return cvl.key === cvlValue.key;
            });
            foundValue.index = cvlValue.index;
            foundValue.value = cvlValue.value;
            foundValue.editing = false;
            foundValue.new = false;
        }

    </script>

</body>
</html>