<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>CVL Editor</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body class="container mt-4">
    <div id="app">
        <div v-if="mode=='cvlListing'">
            <h2>CVL</h2>
            <table class="table table-bordered table-hover table-sm">
                <thead class="thead-light">
                    <tr>
                        <th class="col-xs-3">Id</th>
                        <th class="col-xs-2">Data Type</th>
                    </tr>
                </thead>
                <tbody v-for="cvl in allCvls">
                    <tr v-on:click="cvlValueEdit(cvl)">
                        <td>
                            {{cvl.id}}
                        </td>
                        <td>
                            {{cvl.dataType}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div v-if="mode=='cvlEditLocaleString'">
            <table></table>
        </div>
        <div v-if="mode=='cvlEditString'">
            <div class="container p-3 my-3 border d-flex justify-content-between">
                <h2>{{cvlValueHeader}}</h2>
                <div>
                    <button class="btn btn-info" v-on:click="mode='cvlListing'">Back</button>
                    <button class="btn btn-info" v-on:click="addCvlValue()">Add CVL Value</button>
                </div>
            </div>
            <table class="table table-bordered table-hover table-sm">
                <thead class="thead-light">
                    <tr>
                        <th class="col-xs-3">Key</th>
                        <th class="col-xs-2">Index</th>
                        <th class="col-xs-4">Value</th>
                        <th class="col-xs-3"></th>
                    </tr>
                </thead>
                <tbody v-for="cvlValue in currentCvl.values">
                    <tr>
                        <td>
                            <div v-if="!cvlValue.editing">{{cvlValue.key}}</div>
                            <div v-if="cvlValue.editing">
                                <input type="text" v-model="cvlValue.key" />
                            </div>
                        </td>
                        <td>
                            <div v-if="!cvlValue.editing">{{cvlValue.index}}</div>
                            <div v-if="cvlValue.editing">
                                <input type="text" v-model="cvlValue.index" />
                            </div>
                        </td>
                        <td>
                            <div v-if="!cvlValue.editing">{{cvlValue.value}}</div>
                            <div v-if="cvlValue.editing">
                                <input type="text" v-model="cvlValue.value" />
                            </div>
                        </td>
                        <td class="text-center">
                            <button class="btn btn-info" v-if="!cvlValue.editing" v-on:click="cvlValue.editing = !cvlValue.editing">Edit</button>
                            <button class="btn btn-info" v-if="!cvlValue.editing" v-on:click="deleteCvlValue(cvlValue)">Delete</button>
                            <button class="btn btn-info" v-if="cvlValue.editing" v-on:click="saveCvlValue(cvlValue)">Save</button>
                            <button class="btn btn-info" v-if="cvlValue.editing" v-on:click="cancelCvlValue(cvlValue)">Cancel</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>

    <script>
        var fallbackApiKey = "2eb0108ce0eefd1b959f3c0a96a27328";
        var apiKey = fallbackApiKey;
        var language = "en";
        var baseUrl = "https://apieuw.productmarketingcloud.com/api/v1.0.0/";

        var app = new Vue({
            el: "#app",
            data: {
                allCvls: [],
                mode: "cvlListing",
                currentCvl: null
            },
            mounted: function () {
                this.fetchAllCvls();
            },
            computed: {
                cvlValueHeader: function() {
                    return "CVL Values for " + this.currentCvl.id;
                }
            },
            methods: {
                fetchAllCvls: function () {
                    var self = this;
                    $.getJSON(buildAjaxSettings("model/cvls", false), function (cvls) {
                        cvls.forEach(function (item, index) {
                            var cvlWithValues = item;
                            cvlWithValues.values = [];
                            self.allCvls.push(cvlWithValues);
                        });
                    });
                },
                cvlValueEdit: function (cvl) {
                    fetchCvlValues(cvl);
                    if (cvl.dataType === "LocaleString") {
                        this.mode = "cvlEditLocaleString";
                    }
                    if (cvl.dataType === "String") {
                        this.mode = "cvlEditString";
                    }
                    this.currentCvl = cvl;
                },
                addCvlValue: function() {
                    var cvlValue = {
                        key: "",
                        value: [],
                        index: null,
                        httpMethod: "POST",
                        editing: true
                    };
                    this.currentCvl.values.unshift(cvlValue);
                },
                deleteCvlValue: function(cvlValue) {
                    if (confirm("Are you sure you want to delete CVL value with key " + cvlValue.key + "?")) {
                        var ajaxSettings =
                            buildAjaxSettings("model/cvls/" + this.currentCvl.id + "/values/" + cvlValue.key, false);
                        ajaxSettings.type = "DELETE";
                        $.ajax(ajaxSettings);
                        fetchCvlValues(this.currentCvl);
                    }
                },
                saveCvlValue: function(cvlValue) {
                    if (cvlValue.key.length > 0 && cvlValue.value.length > 0) {
                        if (cvlValue.index !== null) {
                            cvlValue.index = parseInt(cvlValue.index);
                        }

                        var cvlValueToSend = { key: cvlValue.key, value: cvlValue.value, index: cvlValue.index };
                        if (cvlValue.httpMethod === "POST") {
                            var ajaxSettings = buildAjaxSettings("model/cvls/" + this.currentCvl.id + "/values", false);
                            ajaxSettings.data = JSON.stringify(cvlValueToSend);
                            $.post(ajaxSettings);
                        } else { // PUT
                            var ajaxSettings = buildAjaxSettings("model/cvls/" + this.currentCvl.id + "/values/" + cvlValue.key, false);
                            ajaxSettings.type = cvlValue.httpMethod;
                            ajaxSettings.data = JSON.stringify(cvlValueToSend);
                            $.ajax(ajaxSettings);
                        }

                        fetchCvlValues(this.currentCvl);
                    }
                },
                cancelCvlValue: function(cvlValue) {
                    if (cvlValue.httpMethod === "POST") {
                        this.currentCvl.values.shift();
                    }
                    cvlValue.editing = false;
                }
            }
        });

        function fetchCvlValues(cvl) {
            $.getJSON(buildAjaxSettings("model/cvls/" + cvl.id + "/values", false), function (cvlValues) {
                cvl.values = cvlValues;
                cvl.values.forEach(function (value, index) {
                    value.httpMethod = "PUT";
                    value.editing = false;
                });
            });
        };

        function buildAjaxSettings(restOperation, asyncOperation = true) {
            var ajaxSettings = {
                dataType: "json",
                contentType: 'application/json',
                headers: {
                    'X-inRiver-APIKey': apiKey,
                    'Accept': 'application/json',
                    'Accept-Language': language
                },
                url: baseUrl + restOperation,
                processData: true,
                async: asyncOperation
            };
            return ajaxSettings;
        }

    </script>

</body>
</html>